<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bothaction.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" type="icon/ico" href="" />
    <title>Update Symfony</title>
</head>

<body>
    {%include('/inc/navbar.html.twig')%}
    <div class="container">
        <h2 class="sentence">Update</h2>
        <div class="form-group container">
            {{form_start(form)}} {{form_widget(form)}} {{form_end(form)}}
        </div>

    </div>

    {%include('/inc/footer.html.twig')%}
</body>

</html>